---
---

@import "{{ site.theme }}";

div.shell {
    display: block;
    width: 80%;
    margin: 0 auto;
}

header {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 100%;
    top: 38px;
}

section#main_content {
    z-index: 2;
    padding: 0;
    margin-top: 60px;
    min-height:185px;
}